Repository bcgov/nr-forest-client-commons, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, dependencies, documentation, core, spring

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - core/src/test/**/*.java
  - spring/src/test/**/*.java

source:
  - core/src/main/**/*.java
  - spring/src/main/**/*.java

dependencies:
  - any: ['core/pom.xml','spring/package.json']

documentation:
  - core/docs/**/*
  - spring/docs/**/*
  - docs/**/*

core:
  - core/**/*

spring:
  - spring/**/*

chore: remove backend (spring) module from repository (#228)
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  README.md
  spring/.gitignore
  spring/README.md
  spring/mvnw
  spring/mvnw.cmd
  spring/pom.xml
  spring/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  spring/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  spring/src/main/java/ca/bc/gov/app/entity/client/BaseEntity.java
  spring/src/main/java/ca/bc/gov/app/entity/client/ExpirableBaseEntity.java
  spring/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  spring/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  spring/src/main/java/ca/bc/gov/app/entity/legacy/ForestClientEntity.java
  spring/src/main/java/ca/bc/gov/app/exception/ValidationException.java
  spring/src/main/java/ca/bc/gov/app/repository/client/SubmissionDetailRepository.java
  spring/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  spring/src/main/java/ca/bc/gov/app/repository/legacy/ForestClientRepository.java
  spring/src/test/java/ca/bc/gov/app/BootApplication.java
  spring/src/test/java/ca/bc/gov/app/controller/DummyController.java
  spring/src/test/java/ca/bc/gov/app/controller/GlobalErrorControllerIntegrationTest.java
  spring/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  spring/src/test/java/ca/bc/gov/app/repository/legacy/ForestClientRepositoryIntegrationTest.java
  spring/src/test/resources/application-default.yml
  spring/src/test/resources/db/migration/V1__init.sql
  spring/src/test/resources/db/migration/V2__full_client.sql
  spring/src/test/resources/logback-test.xml
Labels: tests, source, spring

fix: remove tests-java job and add permissions for reusable workflow
  .github/workflows/analysis.yml
  .github/workflows/pr-validate.yml
Labels: none

fix: remove all remaining core library references from workflows
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore: remove all remaining core library references from workflows (#231)
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

fix(ci): restore merge-main checkout and drop broken cleanup job
  .github/workflows/merge-main.yml
Labels: none

test(ci): run core tests, gate PRs on results jobs and smoke test certextractor
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  certextractor/README.md
  certextractor/smoke-test.sh
  core/src/test/java/ca/bc/gov/app/dto/CodeEnumTest.java
  core/src/test/java/ca/bc/gov/app/dto/ValidationErrorTest.java
  core/src/test/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDtoTest.java
  core/src/test/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDtoTest.java
  core/src/test/java/ca/bc/gov/app/dto/client/ClientLocationAndContactDtoTest.java
  core/src/test/java/ca/bc/gov/app/dto/legacy/ForestClientDtoTest.java
  core/src/test/java/ca/bc/gov/app/dto/legacy/LegacySearchDtoTest.java
  core/src/test/java/ca/bc/gov/app/dto/opendata/FeaturePropertiesTest.java
  core/src/test/java/ca/bc/gov/app/dto/processor/MessagingWrapperTest.java
  core/src/test/java/ca/bc/gov/app/dto/submissions/MatcherResultTest.java
  core/src/test/java/ca/bc/gov/app/util/PkceUtilTest.java
Labels: tests, core

ci: skip Sonar until SONAR_TOKEN_COMMONS is replaced
  .github/workflows/analysis.yml
Labels: none

ci: queue PR workflow runs instead of cancelling them
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none
