Repository bcgov/nr-forest-client-commons, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, dependencies, documentation, core, spring

fix: upgrade io.swagger.core.v3:swagger-annotations from 2.2.21 to 2.2.22 (#34)
  core/pom.xml
Labels: core

fix: fixing flyway for oracle
  spring/pom.xml
Labels: spring

fix: release process fix
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

fix: fixing semver value
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore: adding spring build back
  .github/workflows/pr-open.yml
Labels: none

chore: updating release to make it easier
  .github/workflows/pr-open.yml
  spring/pom.xml
Labels: spring

chore: removing tests and adding spring publish
  .github/workflows/pr-open.yml
Labels: none

chore: adding analysis and tests
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-repo.yml
Labels: none

chore: changing the repo test acton
  .github/workflows/reusable-tests-repo.yml
Labels: none

fix: fixing pr open
  .github/workflows/pr-open.yml
Labels: none

chore: adding labels
  .github/workflows/pr-open.yml
  certextractor/Dockerfile
Labels: none

chore: updating main action
  .github/workflows/merge-main.yml
Labels: none

fix: release process fix (#38)
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-repo.yml
  certextractor/Dockerfile
  spring/pom.xml
Labels: spring

fix: fixing tests on main
  .github/workflows/pr-close.yml
  .github/workflows/reusable-tests-repo.yml
Labels: none

fix: fixing tests on main (#40)
  .github/workflows/pr-close.yml
  .github/workflows/reusable-tests-repo.yml
Labels: none

chore: fixing test on main
  .github/workflows/reusable-tests-repo.yml
Labels: none

fix: fixing repo
  .github/workflows/reusable-tests-repo.yml
Labels: none

fix: fixing repo validation
  .github/workflows/reusable-tests-repo.yml
Labels: none

fix: fixing reusable test
  .github/workflows/reusable-tests-repo.yml
Labels: none

fix: fixing reusable repo test
  .github/workflows/reusable-tests-repo.yml
Labels: none

fix: fixing tests on main (#41)
  .github/workflows/reusable-tests-repo.yml
Labels: none

docs: updating documentation
  .github/workflows/merge-main.yml
  README.md
  certextractor/README.md
Labels: none

docs: updating documentation (#44)
  .github/workflows/merge-main.yml
  README.md
  certextractor/README.md
Labels: none

feat: added retag to image
  .github/workflows/pr-close.yml
Labels: none

feat: added retag to image (#51)
  .github/workflows/pr-close.yml
Labels: none

feat: skipping cert extract if using insecure port
  .github/workflows/pr-close.yml
  certextractor/startup.sh
Labels: none

feat: added skip to insecure connection when extracting certs (#53)
  .github/workflows/pr-close.yml
  certextractor/startup.sh
Labels: none

chore: adding remove before publishing new version
  .github/workflows/merge-main.yml
Labels: none

chore: fixing legacy labels
  certextractor/Dockerfile
Labels: none

chore: docs and fixes (#58)
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  certextractor/Dockerfile
Labels: none

chore: updating sonar config
  .github/workflows/reusable-tests-be.yml
Labels: none

chore: removing unused props
  core/pom.xml
Labels: core

chore: fixing some build issues related to doc
  core/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  core/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAlternateNameDto.java
  core/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  core/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessDto.java
  core/src/main/java/ca/bc/gov/app/dto/client/CodeNameDto.java
Labels: source, core

feat(FSADT1-751)!: adding processor dtos
  core/src/main/java/ca/bc/gov/app/dto/client/ValidationSourceEnum.java
  core/src/main/java/ca/bc/gov/app/dto/legacy/ClientDoingBusinessAsDto.java
  core/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientContactDto.java
  core/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  core/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientLocationDto.java
  core/src/main/java/ca/bc/gov/app/dto/processor/MessagingWrapper.java
  core/src/main/java/ca/bc/gov/app/dto/submissions/MatcherResult.java
  core/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionInformationDto.java
  core/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionProcessKindEnum.java
Labels: source, core

feat(FSADT1-751)!: adding with to forest client
  core/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
Labels: source, core

chore: adding missing methods
  core/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentDto.java
  core/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
Labels: source, core

chore: removing @JsonValue from enums
  core/src/main/java/ca/bc/gov/app/dto/legacy/ClientStatusCodeEnum.java
  core/src/main/java/ca/bc/gov/app/dto/legacy/ClientTypeCodeEnum.java
Labels: source, core

chore: removing @JsonValue from enums
  core/src/main/java/ca/bc/gov/app/dto/legacy/ClientStatusCodeEnum.java
  core/src/main/java/ca/bc/gov/app/dto/legacy/ClientTypeCodeEnum.java
Labels: source, core

feat(FSADT1-751): adding legacy app dtos
  core/src/main/java/ca/bc/gov/app/dto/legacy/PredictiveSearchResultDto.java
Labels: source, core

Update Dockerfile
  certextractor/Dockerfile
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - core/src/test/**/*.java
  - spring/src/test/**/*.java

source:
  - core/src/main/**/*.java
  - spring/src/main/**/*.java

dependencies:
  - any: ['core/pom.xml','spring/package.json']

documentation:
  - core/docs/**/*
  - spring/docs/**/*
  - docs/**/*

core:
  - core/**/*

spring:
  - spring/**/*
