Repository bcgov/nr-forest-client-commons, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, dependencies, documentation, core, spring

chore: fixing pr close
  .github/workflows/pr-close.yml
Labels: none

fix: fixing main release
  .github/workflows/merge-main.yml
Labels: none

ci: fixing ci
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
Labels: none

chore: testing action
  .github/workflows/pr-open.yml
Labels: none

chore: updating action
  .github/workflows/pr-open.yml
Labels: none

chore: updating dependency
  .github/workflows/pr-open.yml
Labels: none

chore: updating action version
  .github/workflows/pr-open.yml
Labels: none

chore: fixing version
  .github/workflows/pr-open.yml
Labels: none

ci: updating ci to use action for release
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

docs: adding javadoc
  .github/workflows/pr-open.yml
  core/src/main/java/ca/bc/gov/app/dto/ValidationError.java
  core/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  core/src/main/java/ca/bc/gov/app/util/LogUtil.java
Labels: source, core

fix: changing compiler version
  core/pom.xml
Labels: core

fix: changing compiler version
  core/pom.xml
Labels: core

fix: changing compiler version
  spring/pom.xml
Labels: spring

ci: updating ci config
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

ci: update renovate config
  renovate.json
Labels: none

Add description
  renovate.json
Labels: none

Update tester action parameter
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

docs: badges
  README.md
Labels: none

docs: badges (#19)
  README.md
Labels: none

Rename sonar_project_token param
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

Update wiremock dep
  spring/pom.xml
Labels: spring

chore: changing db version to be compatible with environment
  spring/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
Labels: tests, spring

fix: upgrade io.swagger.core.v3:swagger-annotations from 2.2.10 to 2.2.21
  core/pom.xml
Labels: core

fix: upgrade com.fasterxml.jackson.core:jackson-annotations from 2.15.1 to 2.17.0
  core/pom.xml
Labels: core

fix: upgrade org.slf4j:slf4j-api from 2.0.7 to 2.0.12
  core/pom.xml
Labels: core

fix: upgrade org.apache.commons:commons-lang3 from 3.12.0 to 3.14.0
  core/pom.xml
Labels: core

fix: upgrade org.projectlombok:lombok from 1.18.28 to 1.18.32
  core/pom.xml
Labels: core

fix: upgrade com.fasterxml.jackson.core:jackson-annotations from 2.15.1 to 2.17.0 (#26)
  core/pom.xml
Labels: core

fix: upgrade org.apache.commons:commons-lang3 from 3.12.0 to 3.14.0 (#28)
  core/pom.xml
Labels: core

fix: upgrade org.projectlombok:lombok from 1.18.28 to 1.18.32 (#29)
  core/pom.xml
Labels: core

fix: upgrade org.slf4j:slf4j-api from 2.0.7 to 2.0.12 (#27)
  core/pom.xml
Labels: core

fix: upgrade org.springdoc:springdoc-openapi-starter-webflux-api from 2.1.0 to 2.5.0
  spring/pom.xml
Labels: spring

fix: upgrade org.slf4j:slf4j-api from 2.0.12 to 2.0.13
  core/pom.xml
Labels: core

fix: upgrade org.slf4j:slf4j-api from 2.0.12 to 2.0.13 (#31)
  core/pom.xml
Labels: core

fix: upgrade org.springdoc:springdoc-openapi-starter-webflux-api from 2.1.0 to 2.5.0 (#30)
  spring/pom.xml
Labels: spring

chore: renaming sonar param
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

fix: upgrade io.swagger.core.v3:swagger-annotations from 2.2.10 to 2.2.21 (#25)
  core/pom.xml
Labels: core

chore: changing db version to be compatible with environment
  spring/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
Labels: tests, spring

fix: reverted flyway due to oracle
  spring/pom.xml
  spring/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
Labels: tests, spring

fix: upgrade io.swagger.core.v3:swagger-annotations from 2.2.21 to 2.2.22
  core/pom.xml
Labels: core

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - core/src/test/**/*.java
  - spring/src/test/**/*.java

source:
  - core/src/main/**/*.java
  - spring/src/main/**/*.java

dependencies:
  - any: ['core/pom.xml','spring/package.json']

documentation:
  - core/docs/**/*
  - spring/docs/**/*
  - docs/**/*

core:
  - core/**/*

spring:
  - spring/**/*
