Repository bcgov/nr-forest-client-commons, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, dependencies, documentation, core, spring

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - core/src/test/**/*.java
  - spring/src/test/**/*.java

source:
  - core/src/main/**/*.java
  - spring/src/main/**/*.java

dependencies:
  - any: ['core/pom.xml','spring/package.json']

documentation:
  - core/docs/**/*
  - spring/docs/**/*
  - docs/**/*

core:
  - core/**/*

spring:
  - spring/**/*

chore(ci): replace custom w/ default GH CodeQL
  .github/workflows/reusable-tests-repo.yml
  .vscode/settings.json
Labels: none

Remove extra job
  .github/workflows/reusable-tests-repo.yml
Labels: none

Hide my .vscode shame
  .vscode/settings.json
Labels: none

Fix .gitignore weirdness
  .gitignore
Labels: none

chore(ci): use GH default CodeQL (#86)
  .github/workflows/reusable-tests-repo.yml
  .gitignore
Labels: none

Reusable Unit Tests and Analysis => .Tests
  .github/workflows/.tests.yml
Labels: none

chore(ci): let Trivy fail without blocking (temporary)
  .github/workflows/analysis.yml
  .github/workflows/reusable-tests-repo.yml
Labels: none

Fixed workflow call
  .github/workflows/analysis.yml
Labels: none

chore(ci): let Trivy fail without blocking (temporary) (#87)
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/reusable-tests-repo.yml
Labels: none

docs: deploymentconfig deprecation
  README.md
  certextractor/README.md
Labels: none

docs: deploymentconfig deprecation (#89)
  README.md
  certextractor/README.md
Labels: none

chore: adding package cleanup action
  .github/workflows/merge-main.yml
Labels: none

ci: advanced CodeQL
  .github/workflows/codeql.yml
Labels: none

Replace GH-provided workflow
  .github/workflows/analysis.yml
  .github/workflows/codeql.yml
Labels: none

chore: adding package cleanup action (#92)
  .github/workflows/merge-main.yml
Labels: none

ci: advanced CodeQL (#99)
  .github/workflows/analysis.yml
Labels: none

Set up sonar for core and spring
  .github/workflows/.tests.yml
Labels: none

Test
  .github/workflows/.tests.yml
Labels: none

Sonar project keys in 2x pom.xml
  .github/workflows/analysis.yml
  core/pom.xml
  spring/pom.xml
Labels: core, spring

chore(ci): actions moved to bcgov org
  .github/workflows/.tests.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

chore(ci): use GH runner ubuntu-24.04
  .github/workflows/.tests.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore(ci): actions moved to bcgov org (#118)
  .github/workflows/.tests.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

chore(ci): use GH runner ubuntu-24.04 (#119)
  .github/workflows/.tests.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore(ci): remove JS handling from workflow conditionals
  .github/workflows/merge-main.yml
  .github/workflows/pr-validate.yml
Labels: none

chore(ci): remove JS handling from workflow conditionals (#124)
  .github/workflows/merge-main.yml
  .github/workflows/pr-validate.yml
Labels: none

Update pr-open.yml
  .github/workflows/pr-open.yml
Labels: none

chore(ci): drop pins from allowlisted orgs
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore(ci): drop pins from allowlisted orgs (#169)
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore(ci): drop pin from allowlisted action org
  .github/workflows/analysis.yml
Labels: none

chore(ci): drop pin from allowlisted action org (#177)
  .github/workflows/analysis.yml
Labels: none

Revert "chore(deps): update github actions (#200)"
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore: Revert "chore(deps): update github actions" (#202)
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

Revert "chore(deps): pin dependencies (#208)"
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore(ci): drop allowlisted actions pins
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore(ci): drop allowlisted actions pins (#222)
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore: remove redundant CodeQL job from workflow
  .github/workflows/analysis.yml
Labels: none

chore: remove redundant CodeQL job from workflow (#226)
  .github/workflows/analysis.yml
Labels: none

chore: add least-privilege permissions to workflows
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore: workflow permissions (#227)
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

chore: remove backend (spring) module from repository
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  README.md
  spring/.gitignore
  spring/README.md
  spring/mvnw
  spring/mvnw.cmd
  spring/pom.xml
  spring/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  spring/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  spring/src/main/java/ca/bc/gov/app/entity/client/BaseEntity.java
  spring/src/main/java/ca/bc/gov/app/entity/client/ExpirableBaseEntity.java
  spring/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  spring/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  spring/src/main/java/ca/bc/gov/app/entity/legacy/ForestClientEntity.java
  spring/src/main/java/ca/bc/gov/app/exception/ValidationException.java
  spring/src/main/java/ca/bc/gov/app/repository/client/SubmissionDetailRepository.java
  spring/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  spring/src/main/java/ca/bc/gov/app/repository/legacy/ForestClientRepository.java
  spring/src/test/java/ca/bc/gov/app/BootApplication.java
  spring/src/test/java/ca/bc/gov/app/controller/DummyController.java
  spring/src/test/java/ca/bc/gov/app/controller/GlobalErrorControllerIntegrationTest.java
  spring/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  spring/src/test/java/ca/bc/gov/app/repository/legacy/ForestClientRepositoryIntegrationTest.java
  spring/src/test/resources/application-default.yml
  spring/src/test/resources/db/migration/V1__init.sql
  spring/src/test/resources/db/migration/V2__full_client.sql
  spring/src/test/resources/logback-test.xml
Labels: tests, source, spring
